.header {
    padding: 50px;
    margin: 0px;
    text-align: center;
    background-image: url(../media/website_background_final.jpg);
    background-repeat: initial;
    background-size: cover;
    color: white;
    max-height: 550px;
}

.footer {
    padding: 20px;
    margin: 0px;
    text-align: center;
    background-image: url(../media/website_background_final.jpg);
    background-repeat: initial;
    background-size: cover;
    color: white;
    max-height: 125px;
}

.projectCardPics {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
}

.btn-margin {
    margin: 20px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}